{% extends 'base.html' %}

{% block content %}

<div class = "index">
        <h1 class = "index"> Route 196 </h1>
        <p class = "index"> Hello fellow cinephiles! Browse through the site to look for your favorite films. </p>
        
        <ul class = "index">
            
            <li style = "--accent-color:#A52A2A">
            <div class = "icon"><i class="fas fa-bomb"></i></div>
            <a class = "title" href="movies/Action"> ACTION </a>
            <div class = "descr"> Get ready for non-stop adrenaline and heart-pounding excitement with 
                action movies that will leave you on the edge of your seat! </div>
            </li>
            
            <li style = "--accent-color:#D2B53B">
                <div class = "icon"><i class = "fas fa-grin-squint-tears"></i></div>
                <a class = "title" href="movies/Comedy"> COMEDY </a>
                <div class = "descr"> Get ready to laugh out loud and escape into a world of hilarious 
                    antics with side-splitting comedic movies that will brighten your day! </div>
            </li>
            
            <li style = "--accent-color:#00008B">
                <div class = "icon"><i class = "fas fa-theater-masks"></i></div>
                <a class = "title" href = "movies/Drama"> DRAMA </a>
                <div class = "descr"> Experience the power of raw emotions and captivating storytelling 
                    with drama movies that will take you on an emotional journey like no other. </div>
            </li>
            
            <li style = "--accent-color:#2F4F4F">
                <div class = "icon"><i class = "fas fa-ghost"></i></div>
                <a class = "title" href = "movies/Horror"> HORROR </a>
                <div class = "descr"> Prepare for a chilling and terrifying ride as horror movies deliver 
                    spine-tingling scares and keep you on the edge of your seat with fear! </div>
                </li>

            <li style = "--accent-color:#DA611E">
                <div class = "icon"><i class = "fas fa-heart"></i></div>
                <a class = "title" href = "movies/Romance"> ROMANCE </a>
                <div class = "descr"> Indulge in the enchantment of love and be swept away by heartfelt moments with 
                    romantic movies that will warm your heart and leave you believing in true love. </div>
            </li>

            <li style = "--accent-color:#000000">
                <div class = "icon"><i class = "fas fa-robot"></i></div>
                <a class = "title" href = "movies/Sci-fi"> SCI-FI </a>
                <div class = "descr"> Embark on an extraordinary adventure into the realm of the unknown, as sci-fi movies transport you to 
                    awe-inspiring worlds filled with futuristic technology, mind-bending concepts, and thrilling possibilities. </div>
            </li>
            
            <li style = "--accent-color:#B22222">
                <div class = "icon"><i class = "fas fa-bullseye"></i></div>
                <a class = "title" href = "movies/Suspense"> SUSPENCE </a>
                <div class = "descr"> Unleash your inner detective and embrace the gripping tension of suspense movies that will keep you 
                    guessing until the very end, leaving you breathless and craving for more. </div>
            </li>

            <li style = "--accent-color:#808080">
                <div class = "icon"><i class = "fas fa-mask"></i></div>
                <a class = "title" href = "movies/Thriller"> THRILLER </a>
                <div class = "descr"> Hold on tight as you delve into a world of gripping suspense, 
                    intense anticipation, and heart-pounding excitement with thrilling movies that 
                    will keep you at the edge of your seat from start to finish. </div>
            </li>

            </ul>
</div>
{% endblock %}